# Exercise 6: Weather anomalies (*10 points*)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

**Notice**: Closely follow the instructions! Please use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the given variable naming. Also, please do not copy/paste existing code cells. You can add cells if you like, but copying and pasting can also cause the automatic tests to fail.


## Problem 1 - Reading in a tricky data file (*2 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using Pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (*1 point*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [ ]:
data = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Check that the dataframe looks ok:
data.head()

In [ ]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

### Part 2 (*1 point*)

In this section, you will calculate simple statistics based on the input data:

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [ ]:
tavg_nodata_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print('Number of no-data values in column "TAVG":',tavg_nodata_count)

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [ ]:
tmin_nodata_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print('Number of no-data values in column "TMIN":', tmin_nodata_count)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [ ]:
day_count = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print("Number of days:", day_count)

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [ ]:
first_obs = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print('Date of the first observation:',first_obs)

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [ ]:
last_obs = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print('Date of the last observation:', last_obs)

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [ ]:
avg_temp = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Print out the solution:
print('Average temperature (F) for the whole dataset:', round(avg_temp, 2))

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [ ]:
avg_temp_1969 = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print a number
print('Average temperature (F) for the Summer of 69:', round(avg_temp_1969, 2))

## Problem 2 - Calculating monthly average temperatures (*3 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do
- Uploading your notebook to your GitHub repository for this week's exercise

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [ ]:
monthly_data = None

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

In [ ]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

In [ ]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

In [ ]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

## Problem 3 - Calculating temperature anomalies (*5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius:
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the average during the reference period (e.g., for February 1952-1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code and commit your changes using git.

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

In [ ]:
# Check the monthly data:
monthly_data.head()

In [ ]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

Remember also to find out which month had the greatest weather anomaly during the observed time period in comparison with the reference data (create a script that prints out the answer to the screen):

In [ ]:
# REPLACE THE ERROR BELOW WITH YOUR OWN CODE
raise NotImplementedError()

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)