# Exercise 6: Weather anomalies (*10 points*)

The aim of this exercise is to analyze historical weather data. In Problem 1 you read in a tricky data file and explore it's contents. In problem 2, you will convert and aggregate the data from daily temperatures in Fahrenheit, to monthly average temperatures in Celsius. In Problem 3, you will finally analyze weather anomalies by comparing monthly average temperatures to a long-term average.

**Notice**: Closely follow the instructions! Please use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the given variable naming. Also, please do not copy/paste existing code cells. You can add cells if you like, but copying and pasting can also cause the automatic tests to fail.


## Problem 1 - Reading in a tricky data file (*2 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Pay attention to the input data structure and no data values.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` using Pandas
    - Skipping the second row of the datafile that contains `----------` characters that don't belong to the data
    - Convert the no-data values (`-9999`) into `NaN` 
- Calculating basic statistics from the data
- Including comments that explain what most lines in the code do

### Part 1 (*1 point*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values (`-9999`) into `NaN`

In [2]:
import pandas as pd
fp = r'1091402.txt'
data = pd.read_csv(fp, delim_whitespace=True, skiprows=[1], na_values=['-9999'])

In [3]:
# Check that the dataframe looks ok:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [4]:
# Check the last rows of the data (there should be some NaN values)
data.tail()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
23711,GHCND:FIE00142080,51,60.3269,24.9603,20170930,NaN,47.0,49.0,44.0
23712,GHCND:FIE00142080,51,60.3269,24.9603,20171001,0.04,47.0,48.0,45.0
23713,GHCND:FIE00142080,51,60.3269,24.9603,20171002,NaN,47.0,49.0,46.0
23714,GHCND:FIE00142080,51,60.3269,24.9603,20171003,0.94,47.0,NaN,44.0
23715,GHCND:FIE00142080,51,60.3269,24.9603,20171004,0.51,52.0,56.0,NaN

### Part 2 (*1 point*)

In this section, you will calculate simple statistics based on the input data:

- Calculate how many no-data (NaN) values there are in the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [6]:
tavg_nodata_count = len(data["TAVG"]) - data["TAVG"].count()

In [7]:
# Print out the solution:
print('Number of no-data values in column "TAVG":',tavg_nodata_count)

Number of no-data values in column "TAVG": 3308

In [8]:
data['TAVG'].describe

<bound method NDFrame.describe of 0        37.0
1        35.0
2        33.0
3        29.0
4        27.0
         ...
23711    47.0
23712    47.0
23713    47.0
23714    47.0
23715    52.0
Name: TAVG, Length: 23716, dtype: float64>

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [9]:
tmin_nodata_count = len(data["TMIN"]) - data['TMIN'].count()

In [ ]:
# Print out the solution:
print('Number of no-data values in column "TMIN":', tmin_nodata_count)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [10]:
day_count = len(data['DATE'].unique())

In [11]:
# Print out the solution:
print("Number of days:", day_count)

Number of days: 23716

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [12]:
first_obs = data['DATE'].min()

In [13]:
# Print out the solution:
print('Date of the first observation:',first_obs)

Date of the first observation: 19520101

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [14]:
last_obs = data['DATE'].max()

In [15]:
# Print out the solution:
print('Date of the last observation:', last_obs)

Date of the last observation: 20171004

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [16]:
avg_temp = data['TAVG'].mean()

In [17]:
# Print out the solution:
print('Average temperature (F) for the whole dataset:', round(avg_temp, 2))

Average temperature (F) for the whole dataset: 41.32

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [18]:
data['TIME_STR'] = data['DATE'].astype(str)

In [19]:
data['TIME_STR']
data['YEAR_MONTH'] = data['TIME_STR'].str.slice(start=0, stop=6)
data['YEAR_MONTH']
summ69 = data.loc[data['YEAR_MONTH'].isin(['196905','196906','196907','196908'])]
avg_temp_1969 = summ69['TMAX'].mean()

In [20]:
# This test print should print a number
print('Average temperature (F) for the Summer of 69:', round(avg_temp_1969, 2))

Average temperature (F) for the Summer of 69: 67.82

In [5]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

## Problem 2 - Calculating monthly average temperatures (*3 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily Fahrenheit values we have in the data file. You can continue working with the same DataFrame that you used in Problem 1.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures in degrees Celsius for the each month in the dataset (i.e., for each month of each year)
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
    - `monthly_data` should contain a new column called `temp_celsius` the monthly average temperatures in Celsius
    - Convert the `TAVG` values in Fahrenheit into Celsius and store the output in the `temp_celsius`
- Including comments that explain what most lines in the code do
- Uploading your notebook to your GitHub repository for this week's exercise

*Hint: you can start by creating a new column with a label for each month and then continue grouping the data based on this information.*

In [21]:
#Group data by month
grouped = data.groupby('YEAR_MONTH')

#Create empty data frame
monthly_data = pd.DataFrame()

# The columns that we want to aggregate
mean_cols = ['TAVG']

# Iterate over the groups
for key, group in grouped:
    
# Calculate mean
    mean_values = group[mean_cols].mean()

# Add the ´key´ (i.e. the date+time information) into the aggregated values
    mean_values['YEAR_MONTH'] = key

# Append the aggregated values into the DataFrame
    monthly_data = monthly_data.append(mean_values, ignore_index=True)

# Create an empty float column for the output values
monthly_data['temp_celsius'] = 0.0

#Store converted temps in temp_celsius
monthly_data['temp_celsius'] = (monthly_data['TAVG']  - 32) * 5/9

In [22]:
monthly_data

          TAVG YEAR_MONTH  temp_celsius
0    29.478261     195201     -1.400966
1    24.800000     195202     -4.000000
2    13.807692     195203    -10.106838
3    39.607143     195204      4.226190
4    44.666667     195205      7.037037
..         ...        ...           ...
785  56.300000     201706     13.500000
786  60.290323     201707     15.716846
787  60.290323     201708     15.716846
788  52.333333     201709     11.296296
789  48.250000     201710      9.027778

[790 rows x 3 columns]

In [23]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [24]:
# This test print should print the column names of monthly_data
print(monthly_data.columns.values)

['TAVG' 'YEAR_MONTH' 'temp_celsius']

In [25]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

5.097114347669992

In [26]:
# This test print should print the median of temp_celsius
print(round(monthly_data['temp_celsius'].median(), 2))

4.73

In [27]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,TIME_STR,YEAR_MONTH
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,19520101,195201
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,19520102,195201
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,19520103,195201
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,19520104,195201
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,19520105,195201

## Problem 3 - Calculating temperature anomalies (*5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980. You can continue working with the same data that you used in Problems 1 and 2.

**Your score on this problem will be based on following criteria:**

### Part 1:

- Calculating ***the mean temperature for each month over the period from 1952 up to and including 1980*** in a new DataFrame called `reference_temps`
    - You should end up with 12 values, 1 mean temperature for each month during the time period (see example table below).
    - The columns in the new DataFrame should be `month` and `ref_temp`
    
Your `reference_temps` dataframe should have the following structure: 1 value for each month of the year (12 total) and the values represent and average in the observation period 1952-1980. The `ref_temp` temperatures should be in degrees Celsius:
   
| month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

### Part 2:

- Calculating **a temperature anomaly for every month** in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months:
    - In order to achieve this you need to make **a table join** (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html)) between `monthly_data` and `ref_temps` based on the month.
    - Temperature anomaly is calculated as the difference between the temperature for a given month (`temp_celsius` column in `monthly_data`) and the corresponding monthly reference temperature (`ref_temp` column in`reference_temps`) 
    - Store the result in a new column `"diff"` 
    
As the output of the table join and the calculation, you should have three new columns in the `monthly_data` DataFrame: 
1. `diff`: The temperature anomaly, i.e. the difference between the temperature for a given month (e.g., February 1960) and the average during the reference period (e.g., for February 1952-1980), 
2. `month`: The month for that row of observations
3. `ref_temp`: The monthly reference temperature

You should finally report which month had the greatest weather anomaly during the observed time period.

Remember to include comments in your code and commit your changes using git.

In [29]:
#create month column
data['MONTH'] = data['TIME_STR'].str.slice(start=4, stop=6)

data.head()

# group the data
p3_grouped = data.loc[(data['YEAR_MONTH'] >= '195001') & ( data['YEAR_MONTH'] <= '198012')].groupby('MONTH')

# create blank frame
reference_temps = pd.DataFrame()

# The columns that we want to aggregate
mean_cols = ['TAVG']
  
# Iterate over the groups
for key, group in p3_grouped:
    
    # Calculate mean
    mean_values = group[mean_cols].mean() 
   
    #convert to celsius
    mean_values['ref_temp'] = (mean_values[mean_cols] - 32) * 5/9

  # Add the ´key´ (i.e. the date+time information) into the aggregated values
    mean_values['MONTH'] = key

    # Append the aggregated values into the DataFrame
    reference_temps = reference_temps.append(mean_values, ignore_index=True)
    

# create a col called ref_temp and convert fahr to celsius using TAVG
reference_temps['ref_temp'] = (reference_temps['TAVG'] - 32) * 5/9

# drop the TAVG col
reference_temps.drop('TAVG', axis='columns', inplace=True)

In [32]:
reference_temps.head()

  MONTH  ref_temp
0    01 -5.877342
1    02 -6.990482
2    03 -3.841270
3    04  2.427875
4    05  9.522613

In [33]:
month = '09'
group1 = p3_grouped.get_group(month)
group1

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,TIME_STR,YEAR_MONTH,MONTH
214,GHCND:FIE00142080,51,60.3269,24.9603,19520901,NaN,53.0,NaN,39.0,19520901,195209,09
215,GHCND:FIE00142080,51,60.3269,24.9603,19520902,NaN,56.0,63.0,50.0,19520902,195209,09
216,GHCND:FIE00142080,51,60.3269,24.9603,19520903,NaN,55.0,61.0,50.0,19520903,195209,09
217,GHCND:FIE00142080,51,60.3269,24.9603,19520904,0.51,50.0,54.0,45.0,19520904,195209,09
218,GHCND:FIE00142080,51,60.3269,24.9603,19520905,0.04,51.0,61.0,41.0,19520905,195209,09
...,...,...,...,...,...,...,...,...,...,...,...,...
10220,GHCND:FIE00142080,51,60.3269,24.9603,19800926,0.00,50.0,56.0,44.0,19800926,198009,09
10221,GHCND:FIE00142080,51,60.3269,24.9603,19800927,0.00,48.0,56.0,45.0,19800927,198009,09
10222,GHCND:FIE00142080,51,60.3269,24.9603,19800928,0.00,46.0,51.0,44.0,19800928,198009,09
10223,GHCND:FIE00142080,51,60.3269,24.9603,19800929,0.00,44.0,52.0,38.0,19800929,198009,09
10224,GHCND:FIE00142080,51,60.3269,24.9603,19800930,0.09,45.0,51.0,35.0,19800930,198009,09

In [34]:
#CREATE MONTH COL
monthly_data['MONTH'] = monthly_data['YEAR_MONTH'].str.slice(start=4, stop=6)

#join tables 
monthly_data = monthly_data.merge(reference_temps, on='MONTH', how='outer')

# create and calc diff col
monthly_data['diff'] = monthly_data['temp_celsius'] - monthly_data['ref_temp']

In [35]:
report

          TAVG YEAR_MONTH  temp_celsius MONTH  ref_temp      diff
104  34.107143     199002      1.170635    02 -6.990482  8.161117

In [36]:
# Check the monthly data:
monthly_data.head()

        TAVG YEAR_MONTH  temp_celsius MONTH  ref_temp      diff
0  29.478261     195201     -1.400966    01 -5.877342  4.476376
1  22.285714     195301     -5.396825    01 -5.877342  0.480517
2  19.269231     195401     -7.072650    01 -5.877342 -1.195307
3  22.148148     195501     -5.473251    01 -5.877342  0.404091
4  17.360000     195601     -8.133333    01 -5.877342 -2.255991

In [37]:
# Print out desriptive statistics for the relevant columns:
monthly_data[["temp_celsius", "ref_temp", "diff"]].describe()

       temp_celsius    ref_temp        diff
count    682.000000  790.000000  682.000000
mean       5.097114    4.389928    0.704662
std        8.483949    8.273489    2.537382
min      -17.974910   -6.990482  -12.097568
25%       -1.685185   -3.841270   -0.840714
50%        4.726105    4.947222    0.762644
75%       12.870370   13.511653    2.321680
max       22.329749   16.498881    8.161117

Remember also to find out which month had the greatest weather anomaly during the observed time period in comparison with the reference data (create a script that prints out the answer to the screen):

In [38]:
report = monthly_data.loc[monthly_data['diff'] == monthly_data['diff'].max()]

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)